<table>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>Beilul</td>
    <td>301-728-0046</td>
    <td>beilul.tesfai@ga.co</td>
  </tr>
  <tr>
    <td>Ben</td>
    <td>415-235-0865</td>
    <td>ben.epstein@ga.co</td>
  </tr>
  <tr>
    <td>Andrea</td>
    <td>202-421-4463</td>
    <td>andrea.latney@ga.co</td>
  </tr>
  <tr>
    <td>Julien</td>
    <td>860-841-6394</td>
    <td>julien.thiesfield@ga.co</td>
  </tr>
  <tr>
    <td>Will</td>
    <td>914-489-8441</td>
    <td>will.goodwin@ga.co</td>
  </tr>
  <tr>
    <td>Dev</td>
    <td>510-676-3270</td>
    <td>devika.agarwal@ga.co</td>
  </tr>
  <tr>
    <td>Thadd</td>
    <td>202-503-7911</td>
    <td>thaddeus.patrick@ga.co</td>
  </tr>
  <tr>
    <td>Trent</td>
    <td>202-422-9291</td>
    <td>trent.cummings@ga.co</td>
  </tr>
  <tr>
    <td>Travis</td>
    <td>301-437-5813</td>
    <td>travis.mager@ga.co</td>
  </tr>
  <tr>
    <td>Steph</td>
    <td>412-977-7461</td>
    <td>stephanie.skinner@ga.co</td>
  </tr>
  <tr>
    <td>Sam</td>
    <td>267-670-0103</td>
    <td>william.wallace@ga.co</td>
  </tr>
</table>