/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, tr, td, th{
  border: 1px solid #ccc;
  border-collapse:collapse;
}

.toggle-by-prev{
  display:none;
}

:checked + .toggle-by-prev{
  display:block;
}

body{
  max-width:40em;
  margin:auto;
}

h1, h2, h3, h4,
nav{
  font-family: 'Helvetica';
}

h1 a,
nav a{
  text-decoration:none;
  color:inherit;
}

nav a {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .5em;
}

.events rect{
  cursor: pointer;
}
